.grid {
    display: grid;
    gap: 30px;

    @media (max-width: 1024px) {
        gap: 20px;
    }

    // .grid-2

    &-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    // .grid-3

    &-3 {
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .grid-4

    &-4 {
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.scroll-wrapper {
    @media (max-width: 1024px) {
        width: 100vw;
        overflow-x: auto;
        padding-inline: 10px;
        margin-left: -10px;

        &::-webkit-scrollbar {
            display: none;
        }

        

        .grid-4 {
            width: fit-content;
            grid-template-columns: repeat(4, 1fr);

            & > div {
                min-width: 280px;
            }
        }
    }
}
